    {% extends 'home.html' %}
    {% load static %}

    {% block title %}Inscricao{% endblock %}
    {% block head %}
    <link rel="stylesheet" href="{% static 'css/inscricao/inscricao.css'%}">
    {% endblock %}

    {% block content_space %}
    <div class="content">
    <h1>Inscrição</h1>
    <div class="box-container">
        <div class="box">
            <h2>Inscrição em Aulas</h2>
            <form id="inscricaoAulaForm" action="{% url 'inscricao_aula'%}" method="POST">{% csrf_token %}
                <div class="form-group">
                    <label for="nomeAula">Nome do Aluno:</label>
                    {{ form.nome_aluno }}
                </div>
                <div class="form-group">
                    <label for="aula">Atividade:</label>
                    {{ form.nome_atividade }}
                </div>
                <div class="form-group">
                    <label for="horarioAula">Horário:</label>
                    <select id="horarioAula" name="horario_aula">
                        <!-- Opções preenchidas via AJAX -->
                    </select>
                </div>
                <div class="form-group">
                    <label for="responsavelAula">Responsável:</label>
                    <select id="responsavelAula" name="responsavel">
                        <!-- Opções preenchidas via AJAX -->
                    </select>
                </div>
                <button type="submit" class="btn-inscrever" onclick="inscrever()">Inscrever</button>
            </form>
        </div>
    <div class="box">
        <h2>Inscrição em Serviços</h2>
<form id="inscricaoServicoForm" action="{% url 'inscricao_servico' %}" method="POST">{% csrf_token %}
    <div class="form-group">
        <label for="nomeServico">Nome:</label>
        <!-- Campo de aluno -->
        {{ formu.aluno }}
    </div>
    <div class="form-group">
        <label for="servico">Serviço:</label>
        <!-- Campo de serviço -->
        {{ formu.servico_atividade }}
    </div>
    <div class="form-group">
        <label for="horarioServico">Horário:</label>
        <!-- Ajustei o nome do campo para corresponder ao campo do formulário Django -->
        <select id="horarioServico" name="hora_servico">
            <!-- Opções retiradas do banco de dados -->
        </select>
    </div>
    <div class="form-group">
        <label for="Dia">Dia:</label>
        <!-- Ajustei o tipo de input para "date" e o nome do campo para corresponder ao campo do formulário Django -->
        <input type="date" id="Dia" name="dia_servico">
    </div>
    <div class="form-group">
        <label for="responsavelServico">Responsável:</label>
        <!-- Campo de responsável -->
        <select id="responsavelServico" name="responsavel">
            <!-- Opções retiradas do banco de dados -->
        </select>
    </div>
    <button type="submit" class="btn-inscrever" onclick="inscrever()">Inscrever</button>
</form>

    </div>
    </div>
    </div>
    </div>

    <div id="notification" class="notification">Inscrição realizada com sucesso!</div>
    {% endblock %}

    {% block script %}
    <script src="{% static 'js/inscricao/inscricao2.js'%}" ></script>
    <script src="{% static 'js/inscricao/inscricao3.js'%}" ></script>
    {% endblock script %}

    </body>
    </html>
