{% extends 'home.html' %}
{% load static %}

<!-- HEAD herdada do Template home.html -->
{% block head %}
<title>{% block title %} Sistema de Gerenciamento {% endblock title %}</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/listagem/listagemServicos.css' %}">
{% endblock head %}

<!-- NAVBAR herdada do Template home.html -->

{% block content_space %}
    <div class="content">
        <h1>Atividades</h1>
        <div class="box-container">
            <div class="box">
                <div class="box-header">
                    <h3>Serviços</h3>
                    <div class="search-container">
                        <form action="{% url 'lista_servico'%}" method="GET">
                            <input type="text" id="search-input" placeholder="Pesquisar..." name="pesquisa" value="{{ request.GET.pesquisa }}">
                            <button type="submit" id="search-button"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                    <button class="btn-inscrever" onclick="openExternalModal('inscreverServicoModal.html', 'modal-content-inscrever')"><i class="fas fa-user-plus"></i> Inscrever Beneficiado </button>
                </div>
                <table>
                    <tr>
                        <th>Nome</th>
                        <th>Dia</th>
                        <th>Horários</th>
                        <th>Responsável</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                    {% for servico in servicoList %}
                    <tr>
                        <td>{{ servico.nome_servico }}</td>
                        <td>{{ servico.dia_atividade }}</td>
                        <td>{{ servico.hora_inicio }} até {{ servico.hora_fim_atividade }}</td>
                        <td>{{ servico.responsavel }}</td>
                        <td>Ativo or Not</td>
                        <td>
                            <button class="btn-editar" onclick="openExternalModal('{% url 'update_servico' servico.id%}', 'modal-content-large')"><i class="fas fa-edit"></i> Editar</button>
                            <button class="btn-visualizar" onclick="openExternalModal('{% url 'vizualizar_servico' servico.id %}', 'modal-content-small')"><i class="fas fa-eye"></i> Visualizar</button>
                            <button class="btn-deletar" onclick="openModal(this)" data-id="{{ servico.id }}"><i class="fas fa-trash-alt"></i> Deletar</button>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock content_space %}

{% block modals %}
<div class="profile">
    <img src="D:/DocumentosHD/PROJETO WEB3/img/perfil.jpg" alt="Profile Picture" id="profile-picture">
    <a href="perfil.html" id="profile-name">Usuário</a>
</div>

<!-- Modal do Delete -->
<div id="deleteModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <h2>Tem certeza que deseja deletar este item?</h2>
    <button id="confirmDeleteButton" class="modal-btn modal-btn-confirm" onclick="confirmDeletion()">Deletar</button>
    <button class="modal-btn modal-btn-cancel" onclick="closeModal()">Cancelar</button>
  </div>
</div>

<!-- Modal Externa -->
<div id="externalModal" class="modal">
  <div id="externalModalContent" class="modal-content">
    <span class="close" onclick="closeExternalModal()">&times;</span>
    <iframe id="externalModalIframe" src="" frameborder="0" style="width: 100%; height: 80vh;"></iframe>
  </div>
</div>

<!-- Notificação -->
<div id="notification" class="notification">Item deletado com sucesso!</div>
{% endblock modals %}

{% block script %}
<script src="{% static 'js/listagem/listagemServicos.js' %}"></script>
{% endblock script %}
