:root {
    --azul-claro: #4AA0CD;
    --azul-escuro: #041241;
    --rosa: #D155A4;
    --amarelo: #FFD500;
    --branco: #FFFFFF;
    --fonte: "Nunito", sans-serif;
    --verde: #2E8B57;
}

body {
    font-family: var(--fonte);
    margin: 0;
    padding: 0;
    background-color: var(--branco);
}

.form-container {
    display: flex;
    max-width: 1000px;
    margin: 20px auto;
    background-color: var(--branco);
}

.left-column,
.right-column {
    flex: 1;
    padding: 20px;
}

.left-column {
    border-right: 1px solid var(--azul-claro);
}

label {
    display: block;
    margin-bottom: 10px;
    color: var(--azul-escuro);
    font-weight: bold;
    font-family: var(--fonte);
}

input[type="text"],
textarea,
select,
input[type="email"],
input[type="number"],
input[type="checkbox"] {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid var(--azul-claro);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    pointer-events: none;
}

.activity-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.activity-list li {
    margin-bottom: 5px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid var(--azul-claro);
    border-radius: 5px;
    color: var(--azul-escuro);
    font-family: var(--fonte);
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--azul-escuro);
    font-family: var(--fonte);
    text-decoration: underline;
    text-decoration-color: var(--azul-claro);
    text-align: center;
}