{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Atividades</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/cadastro_atividade_servico/cadastro_atividade_servico.css' %}">
</head>

<body>
    <div class="form-container">

        {% if messages %}
        <br>
        {% for message in messages %}
        <div class="alert {{message.tags}}">{{message}}</div>
        {% endfor %}
        {% endif %}

        <h2>Cadastro de Atividades</h2>
        <form id="activityForm" action="{% url 'cdS' %}" method="POST">{% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                <label for="activityName">Nome do Serviço:</label>
                {{ form.nome_servico }}
                {% if form.nome_servico.errors %}
                <div class="text-danger">
                    {% for error in form.nome_servico.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="activityDescription">Descrição do Serviço:</label>
                {{ form.descricao }}
                {% if form.descricao.errors %}
                <div class="text-danger">
                    {% for error in form.descricao.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="activityResponsible">Responsável:</label>
                {{ form.responsavel }}
                {% if form.responsavel.errors %}
                <div class="text-danger">
                    {% for error in form.responsavel.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="activityDay">Dia da Semana do Serviço:</label>
                {{ form.dia_atividade }}
                {% if form.dia_atividade.errors %}
                <div class="text-danger">
                    {% for error in form.dia_atividade.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div id="activityTimesContainer">
                <div class="activity-time">
                    <div class="form-group">
                        <label for="activityTime">Hora do Início:</label>
                        {{ form.hora_inicio }}
                    </div>
                </div>
            </div>
            <div id="activityTimesContainer2">
                <div class="activity-time">
                    <div class="form-group">
                        <label for="activityTime">Hora do Fim:</label>
                        {{ form.hora_fim_atividade }}
                    </div>
                </div>
            </div>
            <button type="submit">Cadastrar Serviço</button>
        </form>
    </div>

    <script src="{% static 'js/cadastro_atividade_servico/cadastro_atividade_servico.js' %}"></script>

</body>

</html>
