{% extends 'navbar_base.html' %}
{% load static%}
<!DOCTYPE html>
<html lang="en">

{% block 'title' %}Cadastro Usuario{% endblock %}

<body>

<div class="container">
{% block 'msg'%}
    {% if messages %}
        <br>
            {% for message in messages%}
                <div class="alert {{message.tags}}">{{message}}</div>
            {% endfor %}

    {% endif %}

{% endblock %}

{%block 'section'%}{% endblock %}

{% block 'main'%}

    <!-- FRONTE GLENDINHA AQUI -->

 <form action="{% url 'cdE' %}" method="POST">
        {% csrf_token %}

        {{form}}
     <br><br>
     <input type="submit" value="Cadastra" class="btn btn-success">
     <a href="{% url 'home' %}" class="btn btn-success">Voltar a HOME</a>
 </form>

    <script src="{% static 'js/cadastroExterno/cadastroExterno.js' %}"></script>

        <!-- FRONT temina aqui -->

{% endblock %}
</div>

</body>


</html>
