{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <title>Inscrição na Atividade</title>
</head>
<body>
    <div class="container">
        <h2>Inscrição na Atividade</h2>
        <form id="inscricao-form" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="responsavel-select">Responsável</label>
                <select id="responsavel-select" class="form-control">
                    <option value="">Selecione um responsável</option>
                    {% for responsavel in responsaveis %}
                        <option value="{{ responsavel.id }}">{{ responsavel.first_name }} {{ responsavel.last_name }} / {{ responsavel.email }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="atividade-select">Atividade</label>
                <select id="atividade-select" class="form-control">
                    <option value="">Selecione uma atividade</option>
                </select>
            </div>
            <div class="form-group">
                <label for="hora-atividade">Hora da Atividade</label>
                <input type="text" id="hora-atividade" class="form-control" readonly>
            </div>
            <div class="form-group">
                <label for="data-atividade">Data da Atividade</label>
                <input type="text" id="data-atividade" class="form-control" readonly>
            </div>
            <div class="form-group">
                <label for="usuario">Aluno</label>
                {{ form.usuario }}
            </div>
            <button type="submit" class="btn btn-primary">Inscrever</button>
        </form>
    </div>


    <!-- Usando jQuery a partir de uma CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/inscricao/inscricao.js' %}"></script>

</body>
</html>