<!-- 3 block como base 
{ block title /  block content_space  /  block modals }
{ block script } -->

{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<title>{% block title %} Sistema de Gerenciamento {% endblock title %}</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/base/navbar.css'%}">

{% block head %} {% endblock head %}
</head>



<body>
<div class="container">
<!--NavBar (In Bloco)-->
    <div class="sidebar">
        <div> <img class="logo" src="{% static 'img/login/logo.png' %}"> </div>
        <ul class="menu">
            <li class="pagina-inicial"><a href="{% url 'home' %}"><i class="fas fa-home"></i> Página Inicial</a></li>
            <li>
                <a href="#" onclick="toggleDropdown(event, 'atividades-dropdown')"><i class="fas fa-tasks"></i> Atividades <i class="fas fa-chevron-down" style="margin-left:auto;"></i></a>
                <ul id="atividades-dropdown">
                    <li><a href="{% url 'lista_aula' %}"><i class="fas fa-chalkboard-teacher"></i> Aulas</a></li>
                    <li><a href="{% url 'lista_servico' %}"><i class="fas fa-concierge-bell"></i> Serviços</a></li>
                </ul>
            </li>
            <li>
                <a href="#" onclick="toggleDropdown(event, 'usuarios-dropdown')"><i class="fas fa-users"></i> Usuários <i class="fas fa-chevron-down" style="margin-left:auto;"></i></a>
                <ul id="usuarios-dropdown">
                    <li><a href="{% url 'lista_usuario_interno' %}"><i class="fas fa-user-shield"></i> Usuário Interno</a></li>
                    <li><a href="{% url 'lista_usuario_externo' %}"><i class="fas fa-user-friends"></i> Usuário Externo</a></li>
                </ul>
            </li>
            <li><a href="{% url 'opcoes_cadastro'%}"><i class="fas fa-address-card"></i> Cadastros</a></li>
            <li><a href="{% url 'inscricao_aula' %}"><i class="fas fa-file-signature"></i> Inscrição</a></li>
        </ul>
        <div class="logout"><a href="{% url 'sair'%}"><i class="fas fa-sign-out-alt"></i> Sair</a></div>
    </div>
<!--NavBar (In Bloco)-->


{% block content_space %}
{% endblock content_space %}



<a href="{% url 'perfil_user' %}">
    <div class="profile">
        <img src="{{ user.imagem_thumb.url }}" alt="Profile Picture" id="profile-thumbnail">
        <a href="{% url 'perfil_user' %}" id="profile-name">{{ user.first_name }}</a>
    </div>
</a>

{% block modals %}{% endblock modals %}


{% block script %}
<script src="{% static 'js/home/home.js' %}"></script>
{% endblock script %}
</body>
</html>
