{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block 'title'%}Sistema de Gerenciamento{% endblock %}</title>
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/base/navbar.css'%}">

</head>
<body>
<div class="container">
    <div class="sidebar">
        <div> <img class="logo" src="{% static 'img/login/logo.png' %}"> </div>
        <ul class="menu">
            <li class="pagina-inicial"><a href="home.html"><i class="fas fa-home"></i> Página Inicial</a></li>
            <li>
                <a href="#" onclick="toggleDropdown(event, 'atividades-dropdown')"><i class="fas fa-tasks"></i> Atividades <i class="fas fa-chevron-down" style="margin-left:auto;"></i></a>
                <ul id="atividades-dropdown">
                    <li><a href="listagens/aulas.html"><i class="fas fa-chalkboard-teacher"></i> Aulas</a></li>
                    <li><a href="listagens/servicos.html"><i class="fas fa-concierge-bell"></i> Serviços</a></li>
                </ul>
            </li>
            <li>
                <a href="#" onclick="toggleDropdown(event, 'usuarios-dropdown')"><i class="fas fa-users"></i> Usuários <i class="fas fa-chevron-down" style="margin-left:auto;"></i></a>
                <ul id="usuarios-dropdown">
                    <li><a href="listagens/usuariosInternos.html"><i class="fas fa-user-shield"></i> Usuário Interno</a></li>
                    <li><a href="listagens/usuariosExternos.html"><i class="fas fa-user-friends"></i> Usuário Externo</a></li>
                </ul>
            </li>
            <li><a href="{% url 'opcoes_cadastro'%}"><i class="fas fa-address-card"></i> Cadastros</a></li>
            <li><a href="inscricao.html"><i class="fas fa-file-signature"></i> Inscrição</a></li>
        </ul>
        <div class="logout"><a href="#"><i class="fas fa-sign-out-alt"></i> Sair</a></div>
    </div>

    <div class="content">
        <h1>Sistema de Gerenciamento Avante</h1>
        <div class="content">
            <div class="box-container">
                <div class="box">
                   <h1> Box 1 (teste) </h1>
                   <p> Conteúdo da primeira caixa </p>
                </div>
                <div class="box">
                    <h1> Box 2 (teste) </h1>
                    <p> Conteúdo da segunda caixa </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="profile">
    <img src="D:/DocumentosHD/PROJETO WEB3/img/perfil.jpg" alt="Profile Picture" id="profile-picture">
    <a href="perfil.html" id="profile-name">Usuário</a>
</div>

<script src="{% static 'js/home/home.js' %}"></script>


</body>
</html>
