{% extends 'home.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home/oficial-home.css' %}">
<title>Sistema de Gerenciamento</title>
{% endblock head %}

{% block content_space %}
    <div class="content">
        <h1>Sistema de Gerenciamento Avante</h1>
        <div class="calendar">
            <h2>Calendário</h2>
            <div id="current-date">{{ current_date|date:"l, d F Y" }}</div>
        </div>
        <div class="box-container">
            <div class="box">
                <h1>Aulas do Dia</h1>
                <div class="table-container">
                    <table id="tabela-aulas">
                            <tr>
                                <th>Nome</th>
                                <th>Dia</th>
                                <th>Horário</th>
                                <th>Responsável</th>
                                <th>Ação</th>
                            </tr>

                            {% for aula in aulaList %}
                            <tr>
                                <td>{{ aula.nome_atividade }}</td>
                                <td>{{ aula.dia_atividade.all.0.dia_semana }}</td> <!-- Assumindo que uma aula pode ter mais de um dia -->
                                <td>{{ aula.hora_atividade }}</td>
                                <td>{{ aula.responsavel.get_full_name }}</td>
                                <td>
                                    <button class="btn-presenca" onclick="abrirModal('presencaModal', 'presencaAulaModal.html')">
                                        <i class="fas fa-check"></i> Presença
                                    </button>
                                    <button class="btn-visualizar" onclick="abrirModal('visualizarModal', 'visualizarAulaHomeModal.html')">
                                        <i class="fas fa-eye"></i> Visualizar
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                    </table>
                </div>
            </div>
            <div class="box">
                <h1>Serviços do Dia</h1>
                <div class="table-container">
                    <table id="tabela-servicos">
                        <tr>
                            <th>Nome</th>
                            <th>Dia</th>
                            <th>Horário</th>
                            <th>Responsável</th>
                            <th>Ação</th>
                        </tr>

                        {% for servico in servicoList %}
                            {% if servico%}
                            <tr>
                                <td>{{ servico.nome_servico }}</td>
                                <td>{{ servico.dia_atividade }}</td>
                                <td>{{ servico.hora_inicio }} - {{ servico.hora_fim_atividade }}</td>
                                <td>{{ servico.responsavel.get_full_name }}</td>
                                <td>
                                    <button class="btn-presenca" onclick="abrirModal('presencaModal', 'presencaServicoModal.html')">
                                        <i class="fas fa-check"></i> Presença
                                    </button>
                                    <button class="btn-visualizar" onclick="abrirModal('visualizarModal', 'visualizarServicoHomeModal.html')">
                                        <i class="fas fa-eye"></i> Visualizar
                                    </button>
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content_space %}

{% block modals %}
<!-- Modais -->
<div id="visualizarModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="fecharModal('visualizarModal')">&times;</span>
        <iframe src="" id="visualizarIframe"></iframe>
    </div>
</div>

<div id="presencaModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="fecharModal('presencaModal')">&times;</span>
        <iframe src="" id="presencaIframe"></iframe>
    </div>
</div>
{% endblock modals %}



{% block script %}
<script src="{% static 'js/home/oficial-home.js' %}"></script>
{% endblock script %}