{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualização de Usuário Externo</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/visualizar/visualizar_usuario_externo.css'%}">
</head>

<body>
    <h2>Visualização de Usuário Externo</h2>
    <div class="form-container">
        <div class="left-column">
            <form id="userForm">
                <div class="form-group">
                    <label for="beneficiaryName">Nome:</label>
                    <input type="text" id="beneficiaryName" name="beneficiaryName" value="{{ userExterno.nome }}" readonly>
                </div>
                <div class="form-group">
                    <label for="beneficiaryCpf">CPF:</label>
                    <input type="text" id="beneficiaryCpf" name="beneficiaryCpf" value="{{ userExterno.cpf }}" readonly>
                </div>
                <div class="form-group">
                    <label for="beneficiaryDob">Data de Nascimento:</label>
                    <input type="date" id="beneficiaryDob" name="beneficiaryDob" value="{{ userExterno.nascimento }}" readonly>
                </div>
                <div class="form-group">
                    <label for="beneficiaryPhone">Telefone:</label>
                    <input type="tel" id="beneficiaryPhone" name="beneficiaryPhone" value="{{ userExterno.telefone }}" readonly>
                </div>
                <div class="form-group">
                    <label for="beneficiaryAddress">Endereço:</label>
                    <input type="text" id="beneficiaryAddress" name="beneficiaryAddress" value="{{ userExterno.endereco }}" readonly>
                </div>
                <div class="form-group">
                    <label for="beneficiaryCity">Cidade:</label>
                    <input type="text" id="beneficiaryCity" name="beneficiaryCity" value="{{ userExterno.cidade }}" readonly>
                </div>
                <div class="form-group">
                    <label for="beneficiaryState">Estado:</label>
                    <input type="text" id="beneficiaryState" name="beneficiaryState" value="{{ userExterno.estado }}" readonly>
                </div>
                <div class="form-group hidden" id="guardianFields">
                    <div class="form-group">
                        <label for="guardianName">Nome do Responsável:</label>
                        <input type="text" id="guardianName" name="guardianName" value="{{ userExterno.responsavel_nome }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="guardianCpf">CPF do Responsável:</label>
                        <input type="text" id="guardianCpf" name="guardianCpf"value="{{ userExterno.responsavel_cpf }}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="guardianPhone">Contato do Responsável:</label>
                        <input type="tel" id="guardianPhone" name="guardianPhone" value="{{ userExterno.telefone }}" readonly>
                    </div>
                </div>
            </form>
        </div>
        <div class="right-column">
            <div class="form-group">
                <label for="registeredActivities">Atividades Cadastradas:</label>
                <ul id="activityList" class="activity-list">
            <!-- {% for aluno in vizualizar.alunos.all %}
                    <li>{{ aluno.nome }}</li>
                {% endfor %} -->
                </ul>
            </div>
        </div>
    </div>

<script src="{% static 'js/visualizar/visualizar_usuario_externo.js' %}"></script>
</body>

</html>
